footer {
  display: flex;
  justify-content: space-around;
  background-color: black;
  & div.social {
    display: block;
    margin-bottom: 50px;

    & button {
      &.donate {
        border-radius: 5px;
        width: 300px;
        color: white;
        padding: 16px;
        margin-top: 68px;
        margin-bottom: 44px;
        text-transform: uppercase;
        border: none;
      }
      &:hover {
        background-color: #E47209;
      }

      &:active {
        background-color: #4B9200;
      }
    }
    & p {
      position: relative;
      border: 1px solid #FFFFFF;
      border-radius: 2px;
      font-size: 19px;
      text-align: center;
      font-weight: 400;
      line-height: 120%;
      width: 82px;
      margin: 42px 0 14px 0;
      & a {
        color: white;
        text-decoration: none;
        & img {
          position: absolute;
          left: 9px;
          top: 21px;
        }
      }
    }
    & ul {
      list-style: none;
      & li {
        padding-bottom: 10px;
        display: flex;
        & div {
          display: inline-block;
          padding-right: 12px;
          background: rgba(196, 196, 196, 0.5);
          width: 26px;
          height: 26px;
          border-radius: 50%;
          background: rgba(196, 196, 196, 0.5) no-repeat center center;
          &.facebook {
            background-image: url("../../assets/icons/facebook.svg");
          }
          &.twitter {
            background-image: url("../../assets/icons/twitter.svg");
          }
          &.instagram {
            background-image: url("../../assets/icons/instagram.svg");
          }
          &.youtube {
            background-image: url("../../assets/icons/youtube.svg");
          }
        }
        & a {
          text-decoration: none;
          color: white;
          padding-left: 12px;
          line-height: 26px;
          &:hover {
            color: #E47209;
          }
          &:active {
            color: #4B9200;
          }
        }
      }
    }
  }
  & div.navi {
    & ul {
      display: flex;
      align-content: flex-end;
      align-items: flex-end;
      list-style: none;
      & li {
        padding: 330px 10px 10px 10px;
        & a {
          color: white;
          text-decoration: none;
          &.nav__item--active {
            color: #E47209;
          }
          &:hover {
            color: #E47209;
          }
          &:active {
            color: #4B9200;
          }
        }
      }
    }
  }
  & div.contact {
    & button.contact-us {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      background: white;
      width: 130px;
      color: black;
      padding: 10px;
      border: 1px solid #333B41;
      border-radius: 5px;
      &:active {
        color: #4B9200;
        border-color: #4B9200;
        border-radius: 5px;
      }
    }
    & input {
      color: white;
      background: black;
      border: 2px solid orange;
      padding: 10px;
    }
    & p {
      padding-top: 36px;
      padding-bottom: 14px;
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      color: white;
      &.designed {
        position: absolute;
        right: 30px;
        bottom: 50px;
        font-weight: 100;
        font-size: 16px;
        line-height: 130%;
      }
    }
  }
}
