section.testimonials {
  width: 100%;
  & div.testmonials-wrapper {
    width: 1160px;
    margin: 140px auto 180px auto;
    & h2 {
      margin-bottom: 47px;
      font-weight: 400;
      font-size: 36px;
      line-height: 130%;
      text-align: center;
      color: #333B41;
    }
    & div.love-wall {
      display: flex;
      justify-content: space-around;
      & article {
        position: relative;
        width: 268px;
        height: 391px;
        background: #F1F3F2;
        border: 2px solid orange;
        border-radius: 20px;
        & div.article__header {
          display: block;
          & img {
            position: absolute;
            top: 16px;
            left: 15px;
          }
          & p.name {
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: black;
            padding-left: 63px;
            padding-top: 15px;
          }
          & p.local {
            font-weight: 300;
            font-size: 15px;
            line-height: 120%;
            color: #BDBDBD;
            padding-left: 63px;
          }
          & p.description {
            padding: 10px 15px 0 16px;
            font-weight: 300;
            font-size: 15px;
            line-height: 120%;
            color: #767474;
          }
        }
      }
    }
    & button.feedback-btn{
      color: white;
      border-radius: 5px;
      width: 300px;
      margin-top: 60px;
      padding: 16px;
      text-transform: uppercase;
      border: none;
    }
  }
}
