div.backstage-and-animals {
  width: 1160px;
  margin: 0 auto;
  background-image: url("../../assets/images/bamboo-cap.png");
  background-repeat: no-repeat;
}
section.the-backstage {
  display: flex;
  width: 100%;
  margin: 140px auto 177px;
  & article {
    margin-left: 696px;
    & h2, h3 {
      font-weight: 400;
      line-height: 120%;
    }
    & h2 {
      font-size: 48px;
      margin-bottom: 20px;
    }
    & h3 {
      margin: 54px auto 34px 0;
      font-size: 24px;
      & +p {
        line-height: 140%;
      }
    }
    & p {
      line-height: 130%;
    }
  }
}